@import 'tailwindcss';

@theme {
	--color-background: #ffffff;
	--color-surface: #f1f1ef;
	--color-text: #0a0a0a;
	--color-primary: #007cc7;
	--color-secondary: #ffdd44;
	--color-accent: #de354c;
	--color-success: #4caf50;
	--color-muted: #737373;
	--color-line: #e5e5e5;

	--font-sans: var(--font-inter), sans-serif;
	--font-heading: var(--font-inter), sans-serif;

	--shadow-pop: 4px 4px 0px 0px #202020;
	--shadow-pop-hover: 6px 6px 0px 0px #202020;
	--shadow-pop-bold: 8px 8px 0px 0px #202020;

	--animate-bounce-slow: bounce 3s infinite;
	--animate-float: float 6s ease-in-out infinite;
}

:root {
	--foreground-rgb: 10, 10, 10;
	--font-inter: 'Inter', sans-serif;
}

@layer base {
	html,
	body {
		overscroll-behavior-y: none;
	}

	body {
		@apply bg-background text-text antialiased selection:bg-black selection:text-white;
		font-feature-settings: 'ss01', 'cv11';
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium tracking-tight;
	}
}
